<div class="wrap">
  <div
    [ngClass]="{
      'add-new-items': !isSmallScreen,
      'add-new-items-open': isSmallScreen && showMenu,
      'add-new-items-closed': isSmallScreen && !showMenu
    }"
    class="add-new-items-common"
  >
    <div *ngIf="isSmallScreen" class="but-wrap">
      <input id="burger" type="checkbox" [(ngModel)]="showMenu" />
      <label for="burger">
        <p class="burger-container">
          <span></span>
          <span></span>
          <span></span>
        </p>
      </label>
    </div>
    <app-addtask *ngIf="showMenu"></app-addtask>
  </div>

  <div class="main-view">
    <app-list></app-list>
  </div>
</div>
